@page
@model BSFB07.Pages_Players.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Player.name" class="control-label"></label>
                <input asp-for="Player.name" class="form-control" />
                <span asp-validation-for="Player.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.primaryOffPos" class="control-label"></label>
                <input asp-for="Player.primaryOffPos" class="form-control" />
                <span asp-validation-for="Player.primaryOffPos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.primaryDefPos" class="control-label"></label>
                <input asp-for="Player.primaryDefPos" class="form-control" />
                <span asp-validation-for="Player.primaryDefPos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.primarySpePos" class="control-label"></label>
                <input asp-for="Player.primarySpePos" class="form-control" />
                <span asp-validation-for="Player.primarySpePos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Running" class="control-label"></label>
                <input asp-for="Player.Running" class="form-control" />
                <span asp-validation-for="Player.Running" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Passing" class="control-label"></label>
                <input asp-for="Player.Passing" class="form-control" />
                <span asp-validation-for="Player.Passing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Catching" class="control-label"></label>
                <input asp-for="Player.Catching" class="form-control" />
                <span asp-validation-for="Player.Catching" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Kicking" class="control-label"></label>
                <input asp-for="Player.Kicking" class="form-control" />
                <span asp-validation-for="Player.Kicking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Blocking" class="control-label"></label>
                <input asp-for="Player.Blocking" class="form-control" />
                <span asp-validation-for="Player.Blocking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.Ovr" class="control-label"></label>
                <input asp-for="Player.Ovr" class="form-control" />
                <span asp-validation-for="Player.Ovr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
